# services.yaml
services:
  # Config service
  Dbp\Relay\BasePublicationConnectorPureBundle\Service\Config:
    autowire: true
    autoconfigure: true

  # Pure API Service
  Dbp\Relay\BasePublicationConnectorPureBundle\Service\PublicationService:
    autowire: true
    autoconfigure: true
#    arguments:
#      $config: '@Dbp\Relay\BasePublicationConnectorPureBundle\Service\Config'
#      $eventDispatcher: '@event_dispatcher'

  Dbp\Relay\BasePublicationConnectorPureBundle\EventSubscriber\PublicationLocalDataEventSubscriber:
    autowire: true
    autoconfigure: true

  # Publication Provider
  Dbp\Relay\BasePublicationConnectorPureBundle\Service\PurePublicationProvider:
    #public: true
    autowire: true
    autoconfigure: true
