services:
  Dbp\Relay\BasePublicationConnectorPureBundle\Rest\:
    resource: '../../Rest'
    autowire: true
    autoconfigure: true

  Dbp\Relay\BasePublicationConnectorPureBundle\Service\:
    resource: '../../Service'
    autowire: true
    autoconfigure: true
